* {
  box-sizing: border-box;
}



:root {
  --outline: #DFE0EB;
  --orange: #FEA725;
  --green: #00CC6A;
  --primary: #325EA5;
  --secondary: #CB473E;
  --background-1: #F6F7FB;
  --background-2: #F6F7F9;
  --background-3: #F0F1F5;
  --white: #FFFFFF;
  --blue: #E4F7FF;
  --text-1: #242424;
  --text-2: #747475;
  --text-3: #A1A2A3;
}

.apus-btn-primary {
  background: var(--primary);
  border-radius: 4px;
  padding: 6px 16px;
  color: var(--white);
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.apus-btn-primary:hover{
  opacity: 0.9;
}

